@model Pressford.Web.Models.Article
@using Pressford.Web.Models
@{ 



    using (Html.BeginForm("CreateArticle", "Articles"))
    {




        <div class="form-group span-6">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })

            @Html.LabelFor(m => m.Content)
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", col = "50", rows = "10", style = "min-width: 100%" })
         
           
        </div>
        <div class="form-group text-right">
            <button type="submit" value="Publish" class="btn btn-primary ">Publish</button>
        </div>

    }
}
