@model Pressford.Web.Models.Article

<span class="article-likes" >
    @(Model.Likes.Count > 0 ? Model.Likes.Count : 0)

    <span class="glyphicon glyphicon-thumbs-up">
        <span id="likes"></span>
    @Ajax.ActionLink("Like", "AddLike",
        new { id = Model.Id },

        new AjaxOptions
        {
            UpdateTargetId = "likes",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET"
        })
    </span>
</span>