@model Pressford.Web.Models.Article

<span class="article-likes" id="likes">
    @(Model.Likes > 0 ? Model.Likes : 0)

    <span class="glyphicon glyphicon-thumbs-up">
    @Ajax.ActionLink("Like", "AddLike",
        new { id = Model.Id },

        new AjaxOptions
        {
            UpdateTargetId = "likes",
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "GET"
        })
    </span>
</span>