@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p>
    Donec convallis turpis quis lobortis luctus. Cras eget libero quam. Sed quis nisi pellentesque, aliquam nibh eget, viverra felis.
    Aliquam tristique, orci vitae convallis commodo, odio arcu posuere ante, at euismod metus velit et leo. Donec accumsan sapien pellentesque elementum sagittis.
    Nunc quis dolor eu nibh vulputate porttitor. Curabitur cursus sodales sodales. Suspendisse mollis lacus blandit, pretium est eget, faucibus libero.
    Aenean interdum lectus ut est laoreet, nec lobortis mi volutpat. Etiam nec justo iaculis, facilisis massa quis, vulputate lectus. Donec et viverra neque.
    Donec posuere elementum leo, at viverra metus placerat id. Ut sit amet laoreet purus, dictum feugiat nunc. Nam ultricies velit at volutpat hendrerit.

</p>
