@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    6 Parkview Road<br />
    London, E15-2EP<br />
    <abbr title="Phone">Phone:</abbr>
    +44 07255550100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@pressford.com">Support@pressford.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@pressford.com">Marketing@pressford.com</a>
</address>