@model Pressford.Web.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
    int maxLength = 150;
    char[] stopChars = { '.', '!' };
}

@* this should be latest news *@
<div class="jumbotron">
    <h1>PRESSFORD</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id augue ac ante consequat ornare. Maecenas gravida quam id diam mattis commodo. Duis ut nisl tristique, interdum nulla tincidunt, elementum dui.</p>
    <p>@Html.ActionLink("Read all articles", "Index", "Articles", new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    @if (Model.Articles != null && Model.Articles.Any())
    {
        foreach (var article in Model.Articles)
        {
            <div class="col-md-4">
                <h2>@article.Title</h2>


                @if (!string.IsNullOrEmpty(article.Content))
                {
                    var content = article.Content;

                    if (content.Length > maxLength)
                    {

                        content = content.Substring(0, content.IndexOfAny(stopChars)) + "...";
                    }
                    <p>@content</p>
                }
            
                <p>@Html.ActionLink("Read more", "ArticleDetail", "Article", new { articleId = article.Id })</p>
            </div>
        }
    }
    else
    {
        <div class="col-md-6"><h3>Latest articles will show here</h3></div>
        
    }

</div>